

 <!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <h5 class="title font-weight-bold">About Us</h5>
                <p class=" font-weight-normal">Typhoon was built on the ideals of deep inventory, flexible policies, responsive systems, knowledgeable tecnical support and unsurpassed customer service.</p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2 offset-md-1">
                <h4 class="title font-weight-bold">Links</h4>
                <ul class="list-unstyled">
                    <li class="font-weight-normal ">
                        <a routerLink="/Home">Home</a>
                    </li>
                    <li class="font-weight-normal">
                        <a routerLink="/LineCards">Line Cards</a>
                    </li>
                    <li class="font-weight-normal"> 
                        <a routerLink="/Products">Products</a>
                    </li>
                    <li class="font-weight-normal">
                        <a routerLink="/AboutUs">About us</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-4">
                 <h4 class="title font-weight-bold mediumfont">Reach Us</h4>
                 <div>
                    <i class="fa fa-phone" aria-hidden="true"></i><span>     (044) 2745 2315</span>
                 </div>
                 <div>
                    <i class="fa fa-envelope" aria-hidden="true"></i><span>  admin@typhoonelec.com</span>
                 </div>
                
                

            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">


        </div>
    </div>
    <!--/.Footer Links-->

    <hr>


    <!--Copyright-->
    <div class="footer-copyright text-center py-2">
        <div class="container-fluid font-weight-bold">
            Copyright © 2018 Typhoon Electronics. All Rights Reserved.
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->