<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [animation]="'slide'">
  <!--First slide-->
  <mdb-carousel-item>
      <img class="d-block img-responsive" src="../../../../assets/img/c/1.jpg" alt="First slide">
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
      <img class="d-block  img-responsive" src="../../../../assets/img/c/2.jpg" alt="Second slide">
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
      <img class="d-block  img-responsive" src="../../../../assets/img/c/3.jpg" alt="Third slide">
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->