<!--
  <div class="row">
    <div class="col-md-2">
   
    </div>
    <div class="col-md-8">
      <!-- Card 
    <div class="card card-cascade narrower">
           <!-- Card 
        <div class="card card-cascade">
        
         
        
          <!-- Card content 
          <div class="card-body card-body-cascade text-center">
        
            <h1 class="card-text color_purple"><stong>MIL-GRADE CONNECTORS</stong></h1>
            <hr>
            <ul>
              <li>MIL-DTL-5015</li>
              <li>MIL-C-26482 Series II</li>
              <li>MIL-DTL-83723 Series III</li>
              <li>MIL-DTL-38999 Series I & II</li>
              <li>MIL-DTL-38999 Series II</li>
              <li>MIL-DTL-38999 Series III</li>
              <li>BACKSHELLS</li>
              <li>DUST CAPS</li>
              <li>MIL-C-26500</li>
            </ul>
            <hr>
            <button type="button" class="btn btn-secondary btn-rounded1 waves-light" mdbWavesEffect>know more</button>
        
          </div>
    
    </div>
    <!-- Card 
    </div>
    <div class="col-md-2">
 
    </div>
  </div>-->
  <p class="h4 text-center py-4 p1">Our Products</p>
 <!-- <div class="view view1">
    <div class="full-bg-img">
        <div class="mask rgba-black-light flex-center">
        </div>    
    </div>
</div>-->
  
<div class="container text-center white-text">
    <div class="white-text text-center wow fadeInUp">
      <div class="container"  id="product">
        <div class="row ">
          
           
          
          <div class="col-md-4 ">
              <div class="flip" (click)="onclick()" (mouseenter)="onclick()" (mouseleave)="onclick()"> 
                  <div class="card" [class.flipped]="flipindicator"> 
                      <div class="face front"> 
                          <!-- Card image -->
                          <div class="view overlay">
                              <img class="card-img-top" src="../../assets/img/john-carlisle-539580-unsplash.jpg" alt="Card image cap">
                              <a>
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                          
                            <!-- Card content -->
                            <div class="card-body text-center rounded-bottom">
                              
                                  <h2 class="grey-text font-weight-bold">Active Devices</h2>
                                  <p>AD/DA Converters</p>
                                  <p>Logics and Linear IC's</p>
                                  <p>EPROM's | EEPROM's</p>
                                  <p>Microcontrollers | MicroProcessors</p>
                                  
                                
                                
                              </div>
              
                      </div> 
                      <div class="face back"> 
                          <div class="view overlay">
                              <img class="card-img-top" src="../../assets/img/nenad-grujic-671248-unsplash.jpg" alt="Card image cap">
                              <a>
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                          
                            <!-- Card content -->
                            <div class="card-body text-center rounded-bottom">
                              
                                <h2 class="grey-text font-weight-bold">Active Devices</h2>  
                                <p>MOSFET's & IGBT</p>
                                <p>Diodes & Rectifiers</p>
                                <p>Transistors</p>
                                <p>and more..</p>
                                
                                
                              </div>
                      </div> 
                  </div> 
              </div> 
          </div>
          <div class="col-md-4 ">
              <div class="flip" (click)="onclick1()" (mouseenter)="onclick1()" (mouseleave)="onclick1()"> 
                  <div class="card" [class.flipped]="flipindicator1"> 
                      <div class="face front"> 
                          <div class="view overlay">
                              <img class="card-img-top" src="../../assets/img/alexandre-debieve-561298-unsplash.jpg" alt="Card image cap">
                              <a>
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                          
                            <!-- Card content -->
                            <div class="card-body text-center rounded-bottom">
                                <h2 class="grey-text font-weight-bold">Passive  Devices</h2>
                                <p>Capacitors</p>
                                <p>Connectors</p>
                                <p>Crystal Oscillators</p>
                                <p>Displays | LCD's</p>
                  
                              </div>
                      </div> 
                      <div class="face back"> 
                          <div class="view overlay">
                              <img class="card-img-top" src="../../assets/img/victor-aznabaev-680684-unsplash.jpg" alt="Card image cap">
                              <a>
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                          
                            <!-- Card content -->
                            <div class="card-body text-center rounded-bottom">
                              
                                <h2 class="grey-text font-weight-bold">Passive  Devices</h2>
                                <p>Inductors</p>
                                <p>MOV's</p>
                                <p>Relay's</p>
                                <p>Resistors</p>
                                <p>and more</p>
                                
                              </div>
                      </div> 
                  </div> 
              </div> 
          </div>
          <div class="col-md-4 ">
              <div class="flip" (click)="onclick2()" (mouseenter)="onclick2()" (mouseleave)="onclick2()"> 
                  <div class="card" [class.flipped]="flipindicator2"> 
                      <div class="face front"> 
                          <div class="view overlay">
                              <img class="card-img-top" src="../../assets/img/sergey-svechnikov-189224-unsplash.jpg" alt="Card image cap">
                              <a>
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                          
                            <!-- Card content -->
                            <div class="card-body text-center rounded-bottom">
                              
                                <h2 class="grey-text font-weight-bold">Mil-Grade Connectors</h2>
                                <p>MIL-DTL-5015</p>
                                <p>MIL-C-26482 Series II</p>
                                <p>MIL-DTL-83723 Series III</p>
                                <p>MIL-DTL-38999 Series I & II</p>
                               
                                
                                
                              </div>
                      </div> 
                      <div class="face back"> 
                          <div class="view overlay">
                              <img class="card-img-top" src="../../assets/img/carlos-irineu-da-costa-442504-unsplash (1).jpg" alt="Card image cap">
                              <a>
                                <div class="mask rgba-white-slight"></div>
                              </a>
                            </div>
                          
                            <!-- Card content -->
                            <div class="card-body text-center rounded-bottom">
                              
                                <h2 class="grey-text font-weight-bold">Mil-Grade Connectors</h2>
                                <p>MIL-DTL-38999 Series II</p>
                                <p>MIL-DTL-38999 Series III</p>
                                <p>BACKSHELLS</p>
                                <p>DUST CAPS</p>
                                <p>MIL-C-26500</p>
                               
                                
                                
                              </div>
                      </div> 
                  </div> 
              </div> 
          </div>
        </div>
      </div>
        
        

</div>

    

 