
<div class="bg-img">
    <div class="container-fluid">
        <div class="row">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-4 col-info" align="center">
                <img class="icons animated zoomIn" src="../../assets/quality_1.png" />
                <br>
                <br>
                <h1 class="fontStyle animated slideInUp font-weight-bold ">Quality Assured</h1>
            
                <h5 class="fontStyle animated slideInUp paragraph-text font-weight-bold">
                    Typhoon supports both original equipment and contract manufacturers in all market segments of the electronics industry, stocking
                    products from the
                </h5>
            </div>
            <div class="col-sm-4 col-info" align="center">
                <img class="icons animated zoomIn" style="width: 150px;height: 100px;" src="../../assets/Quick_Ship_Delivery.png" />
                <br>
                <br>
                <h1 class="fontStyle animated slideInUp font-weight-bold">Timely Delivery</h1>
                
                <h5 class="fontStyle animated slideInUp paragraph-text font-weight-bold">
                    Typhoon supports both original equipment and contract manufacturers in almarket segments of the electronics industry, stocking
                    products from the
                </h5>
            </div>
            <div class="col-sm-4 col-info" align="center">
                <img class="icons animated zoomIn" src="../../assets/bag-rupee.png" />
                <br>
                <br>
                <h1 class="fontStyle animated slideInUp font-weight-bold">Best Price</h1>
                
                <h5 class="fontStyle animated slideInUp paragraph-text font-weight-bold">
                    Typhoon supports both original equipment and contract manufacturers in all market segments of the electronics industry, stocking
                    products from the industry's leading manufacturer
                </h5>
            </div>
        </div>
    </div>
</div>
<section id=timeline>
        <h1 class="font-weight-bold">A Flexbox Timeline</h1>
        <p class="leader grey-text font-weight-bold">All cards must be the same height and width for space calculations on large screens.</p>
        <div class="demo-card-wrapper">
            <div class="demo-card demo-card--step1">
                <div class="head">
                    <div class="number-box">
                        <span>01</span>
                    </div>
                    <h2><span class="small">Subtitle</span> Technology</h2>
                </div>
                <div class="body">
                    <p class="grey-text font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                    <img src="http://placehold.it/1000x500" alt="Graphic">
                </div>
            </div>
    
            <div class="demo-card demo-card--step2">
                <div class="head">
                    <div class="number-box">
                        <span>02</span>
                    </div>
                    <h2><span class="small">Subtitle</span> Confidence</h2>
                </div>
                <div class="body">
                    <p class="grey-text font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                    <img src="http://placehold.it/1000x500" alt="Graphic">
                </div>
            </div>
    
            <div class="demo-card demo-card--step3">
                <div class="head">
                    <div class="number-box">
                        <span>03</span>
                    </div>
                    <h2><span class="small">Subtitle</span> Adaptation</h2>
                </div>
                <div class="body">
                    <p class="grey-text font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                    <img src="http://placehold.it/1000x500" alt="Graphic">
                </div>
            </div>
    
            <div class="demo-card demo-card--step4">
                <div class="head">
                    <div class="number-box">
                        <span>04</span>
                    </div>
                    <h2><span class="small">Subtitle</span> Consistency</h2>
                </div>
                <div class="body">
                    <p class="grey-text font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                    <img src="http://placehold.it/1000x500" alt="Graphic">
                </div>
            </div>
    
            <div class="demo-card demo-card--step5">
                <div class="head">
                    <div class="number-box">
                        <span>05</span>
                    </div>
                    <h2><span class="small">Subtitle</span> Conversion</h2>
                </div>
                <div class="body">
                    <p class="grey-text font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
                    <img src="http://placehold.it/1000x500" alt="Graphic">
                </div>
            </div>
        
        </div>
</section>
<br>
<br>
<br>
<div class="container-fluid clearfix">
    <div class="row">
        <div class="col-sm-6 center-block">
            <div class="pin-board">
                <div class="div1 myCard">
                    <img src="../../assets/img/Dhanush.jpg" width="250px" height="250px" />
                </div>
                <div class="div2 myCard">
                    <img src="../../assets/img/m77-howtizer.jpg" width="250px" height="250px" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 vertical-center">
            <div class="text-center">
                <h2 class="grey-text font-weight-bold">Dhanush Gun</h2>
                <p class="paragraph-text grey-text font-weight-normal">
                    Typhoon supports both original equipment and contract manufacturers in all market segments of the electronics industry, stocking
                    products from the industry's leading manufacturers in different component categories, with a particular
                    focus on interconnect and elecromechanical products
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <br>
        <br>
        <br>
    </div>

    <div class="row">
        <div class="col-sm-6 vertical-center">
            <div class="text-center">
                <h2 class="grey-text font-weight-bold">Dhanush Gun</h2>
                <p class="paragraph-text grey-text font-weight-normal">
                    Typhoon supports both original equipment and contract manufacturers in all market segments of the electronics industry, stocking
                    products from the industry's leading manufacturers in different component categories, with a particular
                    focus on interconnect and elecromechanical products
                </p>
            </div>
        </div>
        <div class="col-sm-6 center-block">
            <div class="pin-board">
                <div class="div1 myCard">
                    <img src="../../assets/img/Dhanush.jpg" width="250px" height="250px" />
                </div>
                <div class="div2 myCard">
                    <img src="../../assets/img/m77-howtizer.jpg" width="250px" height="250px" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <br>
        <br>
        <br>
    </div>

    <div class="row">
        <div class="col-sm-6 center-block">
            <div class="pin-board">
                <div class="div1 myCard">
                    <img src="../../assets/img/Dhanush.jpg" width="250px" height="250px" />
                </div>
                <div class="div2 myCard">
                    <img src="../../assets/img/m77-howtizer.jpg" width="250px" height="250px" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 vertical-center">
            <div class="text-center">
                <h2 class="grey-text font-weight-bold">Dhanush Gun</h2>
                <p class="paragraph-text grey-text font-weight-normal">
                    Typhoon supports both original equipment and contract manufacturers in all market segments of the electronics industry, stocking
                    products from the industry's leading manufacturers in different component categories, with a particular
                    focus on interconnect and elecromechanical products
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>

<br>
<br>
<br>
<p class="h4 text-center py-4 p1">Our Testimonial</p>
<!-- Testimonial -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="testimonial-card text-center">
                <div style="height: 150px">
                    <div style="background: purple;height: 90px">
                        <img class="card-img" src="../../assets/img/sergey-svechnikov-189224-unsplash.jpg" />
                    </div>
                </div>
                <div>
                        <br>
                        <h3 class="grey-text font-weight-bold">Dummy Text</h3>
                        <br>
                        <p class="grey-text font-weight-normal ">
                            Typhoon supports both original equipment and contract manufacturers in all
                        </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="testimonial-card text-center">
                <div style="height: 150px">
                    <div style="background: purple;height: 90px">
                        <img class="card-img" src="../../assets/img/sergey-svechnikov-189224-unsplash.jpg" />
                    </div>
                </div>
                <div>
                        <br>
                        <h3 class="grey-text font-weight-bold">Dummy Text</h3>
                        <br>
                        <p class="grey-text font-weight-normal ">
                            Typhoon supports both original equipment and contract manufacturers in all
                        </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="testimonial-card text-center">
                <div style="height: 150px">
                    <div style="background: purple;height: 90px">
                        <img class="card-img" src="../../assets/img/sergey-svechnikov-189224-unsplash.jpg" />
                    </div>
                </div>
                <div>
                    <br>
                    <h3 class="grey-text font-weight-bold">Dummy Text</h3>
                    <br>
                    <p class="grey-text font-weight-normal ">
                        Typhoon supports both original equipment and contract manufacturers in all
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
