<h2 class="h4 text-center">Contact Us</h2>
<div class="container">
  <div class="row">
  <div class="col-md-6 col-sm-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15563.014464264577!2d80.0229916!3d12.7944985!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x750028adbb6456a5!2sTyphoon+Electronics!5e0!3m2!1sen!2sin!4v1493394792118" width="100%" height="350" frameborder="1" style="border:0;box-shadow:5px 5px 2px #aaaaaa" allowfullscreen=""></iframe>
  </div>
  <div class="col-md-6 col-sm-12">
    <h4 class="h5 text-center">Registered Address:</h4>
    <h4 class="h6 grey-text text-center">Typhoon Electronics,</h4>
    <h4 class="h6  grey-text text-center">#9/25 Vallalar Street, NH-2,</h4>
    <h4 class="h6 grey-text text-center">Maraimalai Nagar,</h4>
    <h4 class="h6 grey-text text-center">Kanchipuram (Dist),</h4>
    <h4 class="h6 grey-text text-center">TN,Pin 603209.</h4>
    <br>
    <h4 class="h5 text-center">Corparate Address:</h4>
    <h4 class="h6 grey-text text-center">Typhoon Electronics,</h4>
    <h4 class="h6  grey-text text-center">#572 Anna Salai, NH-1,</h4>
    <h4 class="h6 grey-text text-center">Maraimalai Nagar,</h4>
    <h4 class="h6 grey-text text-center">Kanchipuram (Dist),</h4>
    <h4 class="h6 grey-text text-center">TN,Pin 603209.</h4>



    
  </div>
  </div>
</div>
