<p class="h4 text-center">Line Cards</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-2">
      <!-- Card Dark -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top wow slideInUp" src="{{ lineCards[0]?.imageUrl }}" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card Dark -->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-2">
      <!-- Card Dark -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top wow slideInUp" src="{{ lineCards[1]?.imageUrl }}" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card Dark -->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-2">
      <!-- Card Dark -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top wow slideInUp" src="{{ lineCards[2]?.imageUrl }}" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card Dark -->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-2">
      <!-- Card Dark -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top wow slideInUp" src="{{ lineCards[3]?.imageUrl }}" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card Dark -->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-2">
      <!-- Card Dark -->
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top wow slideInUp" src="{{ lineCards[4]?.imageUrl }}" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card Dark -->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-2">
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top wow slideInUp" src="{{ lineCards[5]?.imageUrl }}" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card Dark -->
    </div>
  </div>
  <div class="row ">
    <div class="col-xs-4 col-sm-4 col-md-4"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 text-center">
      <button type="button" class="btn btn-secondary btn-rounded1 waves-light" mdbWavesEffect routerLink="/LineCards">
        <span>more cards</span>
      </button>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4"></div>
    <!-- Card Dark-->
  </div>
</div>